# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
.env
.venv/
venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Node
node_modules/
dist/
build/

# Logs
*.log

# Others
*.bak
*.swp

# Frontend
*.env

backend/service_account.json
